# Biên dịch tạm thời
build/
bin/
*.o
*.obj
*.exe
*.out

# Tệp cấu hình của IDE
*.sublime-workspace
*.sublime-project
.vscode/
*.ncb
*.sdf
*.suo
*.user
*.userprefs
*.tlog
*.vscode/
*.cph/
# Thư mục chứa thư viện
lib/
linhtinh/

# Tệp log
*.log

# Tệp tạm thời
*.tmp
*.temp
# Tệp hệ thống
.DS_Store
Thumbs.db
tempCodeRunnerFile.cpp
demo.cpp
demo.py
demo.asm
output.txt
demo.py